.webcodeno_fnuggno {
  &.shortcode {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.45rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    h3 {
      font-size: 2.8rem;
      margin-top: 8px;
      margin-bottom: 12px;
    }
    h4 {
      font-size: 2.2rem;
      margin-top: 8px;
      margin-bottom: 12px;
    }
  }

  &.shortcode.summary > div {
    font-size: 14px;
    padding: 12px;
    border: 1px solid #808080;
    .container {
      width: 100%;
      > .col_container {
        float: left;
        width: 30%;
        &.col2 {
          width: 40%;
        }
      }
    }
    h3 {
      font-size: 2rem !important;
      margin-top: 0 !important;
      margin-bottom: 8px !important;
    }
    .label {
      font-weight: bold;
      color: #808080;
      padding: 0;
    }
    .weather {
      width: 30%;
      margin-right: 5%;
      display: inline-block;
      //float: left;
      vertical-align: top;
      position: relative;
      .icon {
        //position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        text-align: center;
        img {
          width: 100%;
          margin-bottom: 16px;
        }
        i {
          font-size: 4rem;
          line-height: 6rem;
          margin-bottom: 16px;
        }
      }
      .description {
        position: absolute;
        top: initial;
        bottom: 0;
        left: 0;
        z-index: 11;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        width: 100%;
      }
    }
    .temp {
      width: 60%;
      display: inline-block;
      vertical-align: top;
    }
    .snow {

    }
    .wind {

    }
    .slopes {
      .up {
        font-size: 120%;
        line-height: 100%;
        font-weight: bold;
        color: #0A246A;
      }
    }
    .lifts {
      .open {
        font-size: 120%;
        line-height: 100%;
        font-weight: bold;
        color: #0A246A;
      }
    }
    .details {
      a {
        font-size: 80%;
        font-style: italic;
      }
    }
    .slopes_lifts_details {
      display: none;
    }
  }

  &.shortcode.statuspage > div {
    .statuspage_conditions {
      margin-bottom: 1rem;
      .statuspage_group_wrapper {
        background-color: #3A3A3A;
        color: #ffffff;
        .statuspage_group_title {
          float: left;
          padding: 2px 10px;
        }
        .statuspage_group_status {
          float: right;
          padding: 2px 10px;
        }
        .statuspage_items_wrapper {
          background-color: #aaaaaa;
          color: #000000;
          clear: both;
          .statuspage_item_wrapper {
            clear: both;
            .statuspage_item_title {
              float: left;
              padding: 2px 10px;
            }
            .statuspage_item_status {
              float: right;
              padding: 2px 10px;
              &.operational {
                color: green;
              }
              &.not-operational {
                color: red;
              }
            }
          }
        }
      }
    }
    .statuspage_incidents {
      margin-bottom: 1rem;
      .statuspage_incident_wrapper {
        background-color: #3A3A3A;
        color: #ffffff;
        .statuspage_incident_title {
          float: left;
          padding: 2px 10px;
        }
        .statuspage_incident_status {
          float: right;
          padding: 2px 10px;
        }
        .statuspage_incident_updates_wrapper {
          background-color: #aaaaaa;
          color: #000000;
          clear: both;
          .statuspage_incident_update_wrapper {
            clear: both;
            .statuspage_incident_update_date {
              float: right;
              padding: 2px 10px;
              font-size: 80%;
              font-style: italic;
            }
            .statuspage_incident_update_status {
              float: right;
              padding: 2px 10px;
            }
            .statuspage_incident_update_body {
              clear: both;
              padding: 2px 10px;
            }
          }
        }
      }
    }
  }

  &.shortcode.blog_posts > div {
    p.meta {
      font-style: italic;
      font-size: 80%;
      margin-bottom: 18px;
    }
  }

  &.shortcode.attribution > div {
    font-size: 12px;
    p {
      display: inline-block;
      a {
        text-decoration: underline;
      }
    }
    a {
      border: none;
    }
    img {
      width: 120px;
      margin-right: 12px;
      display: inline-block;
    }
  }
}

.webcodeno_fnuggno_popup_box {
  .slopes_lifts_details {
    position: absolute;
    //top: 0;
    //left: 0;
    display: none;
    .statuspage_conditions {
      font-size: 12px;
      width: 450px;
      font-family: Arial, Helvetica, sans-serif;
      .statuspage_group_wrapper {
        background-color: #3A3A3A;
        color: #ffffff;
        .statuspage_group_title {
          float: left;
          padding: 2px 10px;
        }
        .statuspage_group_status {
          float: right;
          padding: 2px 10px;
        }
        .statuspage_items_wrapper {
          background-color: #ffffff;
          color: #000000;
          border-left: 1px solid #dddddd;
          border-right: 1px solid #dddddd;
          clear: both;
          .statuspage_item_wrapper {
            clear: both;
            .statuspage_item_title {
              float: left;
              padding: 2px 10px;
            }
            .statuspage_item_status {
              float: right;
              padding: 2px 10px;
              &.operational {
                color: green;
              }
              &.not-operational {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

.clearfix {
  clear: both;
}