@charset "UTF-8";
/*!
 *  Weather Icons 2.0
 *  Updated August 1, 2015
 *  Weather themed icons for Bootstrap
 *  Author - Erik Flowers - erik@helloerik.com
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 *  ------------------------------------------------------------------------------
 *  Maintained at http://erikflowers.github.io/weather-icons
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Font licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS, LESS and SCSS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 */
@font-face {
  font-family: "weathericons";
  src: url("../font/weathericons-regular-webfont.eot");
  src: url("../font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/weathericons-regular-webfont.woff2") format("woff2"), url("../font/weathericons-regular-webfont.woff") format("woff"), url("../font/weathericons-regular-webfont.ttf") format("truetype"), url("../font/weathericons-regular-webfont.svg#weather_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wi {
  display: inline-block;
  font-family: "weathericons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wi-fw {
  width: 1.4em;
  text-align: center;
}

.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.wi-day-sunny:before {
  content: "";
}

.wi-day-cloudy:before {
  content: "";
}

.wi-day-cloudy-gusts:before {
  content: "";
}

.wi-day-cloudy-windy:before {
  content: "";
}

.wi-day-fog:before {
  content: "";
}

.wi-day-hail:before {
  content: "";
}

.wi-day-haze:before {
  content: "";
}

.wi-day-lightning:before {
  content: "";
}

.wi-day-rain:before {
  content: "";
}

.wi-day-rain-mix:before {
  content: "";
}

.wi-day-rain-wind:before {
  content: "";
}

.wi-day-showers:before {
  content: "";
}

.wi-day-sleet:before {
  content: "";
}

.wi-day-sleet-storm:before {
  content: "";
}

.wi-day-snow:before {
  content: "";
}

.wi-day-snow-thunderstorm:before {
  content: "";
}

.wi-day-snow-wind:before {
  content: "";
}

.wi-day-sprinkle:before {
  content: "";
}

.wi-day-storm-showers:before {
  content: "";
}

.wi-day-sunny-overcast:before {
  content: "";
}

.wi-day-thunderstorm:before {
  content: "";
}

.wi-day-windy:before {
  content: "";
}

.wi-solar-eclipse:before {
  content: "";
}

.wi-hot:before {
  content: "";
}

.wi-day-cloudy-high:before {
  content: "";
}

.wi-day-light-wind:before {
  content: "";
}

.wi-night-clear:before {
  content: "";
}

.wi-night-alt-cloudy:before {
  content: "";
}

.wi-night-alt-cloudy-gusts:before {
  content: "";
}

.wi-night-alt-cloudy-windy:before {
  content: "";
}

.wi-night-alt-hail:before {
  content: "";
}

.wi-night-alt-lightning:before {
  content: "";
}

.wi-night-alt-rain:before {
  content: "";
}

.wi-night-alt-rain-mix:before {
  content: "";
}

.wi-night-alt-rain-wind:before {
  content: "";
}

.wi-night-alt-showers:before {
  content: "";
}

.wi-night-alt-sleet:before {
  content: "";
}

.wi-night-alt-sleet-storm:before {
  content: "";
}

.wi-night-alt-snow:before {
  content: "";
}

.wi-night-alt-snow-thunderstorm:before {
  content: "";
}

.wi-night-alt-snow-wind:before {
  content: "";
}

.wi-night-alt-sprinkle:before {
  content: "";
}

.wi-night-alt-storm-showers:before {
  content: "";
}

.wi-night-alt-thunderstorm:before {
  content: "";
}

.wi-night-cloudy:before {
  content: "";
}

.wi-night-cloudy-gusts:before {
  content: "";
}

.wi-night-cloudy-windy:before {
  content: "";
}

.wi-night-fog:before {
  content: "";
}

.wi-night-hail:before {
  content: "";
}

.wi-night-lightning:before {
  content: "";
}

.wi-night-partly-cloudy:before {
  content: "";
}

.wi-night-rain:before {
  content: "";
}

.wi-night-rain-mix:before {
  content: "";
}

.wi-night-rain-wind:before {
  content: "";
}

.wi-night-showers:before {
  content: "";
}

.wi-night-sleet:before {
  content: "";
}

.wi-night-sleet-storm:before {
  content: "";
}

.wi-night-snow:before {
  content: "";
}

.wi-night-snow-thunderstorm:before {
  content: "";
}

.wi-night-snow-wind:before {
  content: "";
}

.wi-night-sprinkle:before {
  content: "";
}

.wi-night-storm-showers:before {
  content: "";
}

.wi-night-thunderstorm:before {
  content: "";
}

.wi-lunar-eclipse:before {
  content: "";
}

.wi-stars:before {
  content: "";
}

.wi-storm-showers:before {
  content: "";
}

.wi-thunderstorm:before {
  content: "";
}

.wi-night-alt-cloudy-high:before {
  content: "";
}

.wi-night-cloudy-high:before {
  content: "";
}

.wi-night-alt-partly-cloudy:before {
  content: "";
}

.wi-cloud:before {
  content: "";
}

.wi-cloudy:before {
  content: "";
}

.wi-cloudy-gusts:before {
  content: "";
}

.wi-cloudy-windy:before {
  content: "";
}

.wi-fog:before {
  content: "";
}

.wi-hail:before {
  content: "";
}

.wi-rain:before {
  content: "";
}

.wi-rain-mix:before {
  content: "";
}

.wi-rain-wind:before {
  content: "";
}

.wi-showers:before {
  content: "";
}

.wi-sleet:before {
  content: "";
}

.wi-snow:before {
  content: "";
}

.wi-sprinkle:before {
  content: "";
}

.wi-storm-showers:before {
  content: "";
}

.wi-thunderstorm:before {
  content: "";
}

.wi-snow-wind:before {
  content: "";
}

.wi-snow:before {
  content: "";
}

.wi-smog:before {
  content: "";
}

.wi-smoke:before {
  content: "";
}

.wi-lightning:before {
  content: "";
}

.wi-raindrops:before {
  content: "";
}

.wi-raindrop:before {
  content: "";
}

.wi-dust:before {
  content: "";
}

.wi-snowflake-cold:before {
  content: "";
}

.wi-windy:before {
  content: "";
}

.wi-strong-wind:before {
  content: "";
}

.wi-sandstorm:before {
  content: "";
}

.wi-earthquake:before {
  content: "";
}

.wi-fire:before {
  content: "";
}

.wi-flood:before {
  content: "";
}

.wi-meteor:before {
  content: "";
}

.wi-tsunami:before {
  content: "";
}

.wi-volcano:before {
  content: "";
}

.wi-hurricane:before {
  content: "";
}

.wi-tornado:before {
  content: "";
}

.wi-small-craft-advisory:before {
  content: "";
}

.wi-gale-warning:before {
  content: "";
}

.wi-storm-warning:before {
  content: "";
}

.wi-hurricane-warning:before {
  content: "";
}

.wi-wind-direction:before {
  content: "";
}

.wi-alien:before {
  content: "";
}

.wi-celsius:before {
  content: "";
}

.wi-fahrenheit:before {
  content: "";
}

.wi-degrees:before {
  content: "";
}

.wi-thermometer:before {
  content: "";
}

.wi-thermometer-exterior:before {
  content: "";
}

.wi-thermometer-internal:before {
  content: "";
}

.wi-cloud-down:before {
  content: "";
}

.wi-cloud-up:before {
  content: "";
}

.wi-cloud-refresh:before {
  content: "";
}

.wi-horizon:before {
  content: "";
}

.wi-horizon-alt:before {
  content: "";
}

.wi-sunrise:before {
  content: "";
}

.wi-sunset:before {
  content: "";
}

.wi-moonrise:before {
  content: "";
}

.wi-moonset:before {
  content: "";
}

.wi-refresh:before {
  content: "";
}

.wi-refresh-alt:before {
  content: "";
}

.wi-umbrella:before {
  content: "";
}

.wi-barometer:before {
  content: "";
}

.wi-humidity:before {
  content: "";
}

.wi-na:before {
  content: "";
}

.wi-train:before {
  content: "";
}

.wi-moon-new:before {
  content: "";
}

.wi-moon-waxing-crescent-1:before {
  content: "";
}

.wi-moon-waxing-crescent-2:before {
  content: "";
}

.wi-moon-waxing-crescent-3:before {
  content: "";
}

.wi-moon-waxing-crescent-4:before {
  content: "";
}

.wi-moon-waxing-crescent-5:before {
  content: "";
}

.wi-moon-waxing-crescent-6:before {
  content: "";
}

.wi-moon-first-quarter:before {
  content: "";
}

.wi-moon-waxing-gibbous-1:before {
  content: "";
}

.wi-moon-waxing-gibbous-2:before {
  content: "";
}

.wi-moon-waxing-gibbous-3:before {
  content: "";
}

.wi-moon-waxing-gibbous-4:before {
  content: "";
}

.wi-moon-waxing-gibbous-5:before {
  content: "";
}

.wi-moon-waxing-gibbous-6:before {
  content: "";
}

.wi-moon-full:before {
  content: "";
}

.wi-moon-waning-gibbous-1:before {
  content: "";
}

.wi-moon-waning-gibbous-2:before {
  content: "";
}

.wi-moon-waning-gibbous-3:before {
  content: "";
}

.wi-moon-waning-gibbous-4:before {
  content: "";
}

.wi-moon-waning-gibbous-5:before {
  content: "";
}

.wi-moon-waning-gibbous-6:before {
  content: "";
}

.wi-moon-third-quarter:before {
  content: "";
}

.wi-moon-waning-crescent-1:before {
  content: "";
}

.wi-moon-waning-crescent-2:before {
  content: "";
}

.wi-moon-waning-crescent-3:before {
  content: "";
}

.wi-moon-waning-crescent-4:before {
  content: "";
}

.wi-moon-waning-crescent-5:before {
  content: "";
}

.wi-moon-waning-crescent-6:before {
  content: "";
}

.wi-moon-alt-new:before {
  content: "";
}

.wi-moon-alt-waxing-crescent-1:before {
  content: "";
}

.wi-moon-alt-waxing-crescent-2:before {
  content: "";
}

.wi-moon-alt-waxing-crescent-3:before {
  content: "";
}

.wi-moon-alt-waxing-crescent-4:before {
  content: "";
}

.wi-moon-alt-waxing-crescent-5:before {
  content: "";
}

.wi-moon-alt-waxing-crescent-6:before {
  content: "";
}

.wi-moon-alt-first-quarter:before {
  content: "";
}

.wi-moon-alt-waxing-gibbous-1:before {
  content: "";
}

.wi-moon-alt-waxing-gibbous-2:before {
  content: "";
}

.wi-moon-alt-waxing-gibbous-3:before {
  content: "";
}

.wi-moon-alt-waxing-gibbous-4:before {
  content: "";
}

.wi-moon-alt-waxing-gibbous-5:before {
  content: "";
}

.wi-moon-alt-waxing-gibbous-6:before {
  content: "";
}

.wi-moon-alt-full:before {
  content: "";
}

.wi-moon-alt-waning-gibbous-1:before {
  content: "";
}

.wi-moon-alt-waning-gibbous-2:before {
  content: "";
}

.wi-moon-alt-waning-gibbous-3:before {
  content: "";
}

.wi-moon-alt-waning-gibbous-4:before {
  content: "";
}

.wi-moon-alt-waning-gibbous-5:before {
  content: "";
}

.wi-moon-alt-waning-gibbous-6:before {
  content: "";
}

.wi-moon-alt-third-quarter:before {
  content: "";
}

.wi-moon-alt-waning-crescent-1:before {
  content: "";
}

.wi-moon-alt-waning-crescent-2:before {
  content: "";
}

.wi-moon-alt-waning-crescent-3:before {
  content: "";
}

.wi-moon-alt-waning-crescent-4:before {
  content: "";
}

.wi-moon-alt-waning-crescent-5:before {
  content: "";
}

.wi-moon-alt-waning-crescent-6:before {
  content: "";
}

.wi-moon-0:before {
  content: "";
}

.wi-moon-1:before {
  content: "";
}

.wi-moon-2:before {
  content: "";
}

.wi-moon-3:before {
  content: "";
}

.wi-moon-4:before {
  content: "";
}

.wi-moon-5:before {
  content: "";
}

.wi-moon-6:before {
  content: "";
}

.wi-moon-7:before {
  content: "";
}

.wi-moon-8:before {
  content: "";
}

.wi-moon-9:before {
  content: "";
}

.wi-moon-10:before {
  content: "";
}

.wi-moon-11:before {
  content: "";
}

.wi-moon-12:before {
  content: "";
}

.wi-moon-13:before {
  content: "";
}

.wi-moon-14:before {
  content: "";
}

.wi-moon-15:before {
  content: "";
}

.wi-moon-16:before {
  content: "";
}

.wi-moon-17:before {
  content: "";
}

.wi-moon-18:before {
  content: "";
}

.wi-moon-19:before {
  content: "";
}

.wi-moon-20:before {
  content: "";
}

.wi-moon-21:before {
  content: "";
}

.wi-moon-22:before {
  content: "";
}

.wi-moon-23:before {
  content: "";
}

.wi-moon-24:before {
  content: "";
}

.wi-moon-25:before {
  content: "";
}

.wi-moon-26:before {
  content: "";
}

.wi-moon-27:before {
  content: "";
}

.wi-time-1:before {
  content: "";
}

.wi-time-2:before {
  content: "";
}

.wi-time-3:before {
  content: "";
}

.wi-time-4:before {
  content: "";
}

.wi-time-5:before {
  content: "";
}

.wi-time-6:before {
  content: "";
}

.wi-time-7:before {
  content: "";
}

.wi-time-8:before {
  content: "";
}

.wi-time-9:before {
  content: "";
}

.wi-time-10:before {
  content: "";
}

.wi-time-11:before {
  content: "";
}

.wi-time-12:before {
  content: "";
}

.wi-direction-up:before {
  content: "";
}

.wi-direction-up-right:before {
  content: "";
}

.wi-direction-right:before {
  content: "";
}

.wi-direction-down-right:before {
  content: "";
}

.wi-direction-down:before {
  content: "";
}

.wi-direction-down-left:before {
  content: "";
}

.wi-direction-left:before {
  content: "";
}

.wi-direction-up-left:before {
  content: "";
}

.wi-wind-beaufort-0:before {
  content: "";
}

.wi-wind-beaufort-1:before {
  content: "";
}

.wi-wind-beaufort-2:before {
  content: "";
}

.wi-wind-beaufort-3:before {
  content: "";
}

.wi-wind-beaufort-4:before {
  content: "";
}

.wi-wind-beaufort-5:before {
  content: "";
}

.wi-wind-beaufort-6:before {
  content: "";
}

.wi-wind-beaufort-7:before {
  content: "";
}

.wi-wind-beaufort-8:before {
  content: "";
}

.wi-wind-beaufort-9:before {
  content: "";
}

.wi-wind-beaufort-10:before {
  content: "";
}

.wi-wind-beaufort-11:before {
  content: "";
}

.wi-wind-beaufort-12:before {
  content: "";
}

.wi-yr-no-1:before {
  content: "";
}

.wi-yr-no-2:before {
  content: "";
}

.wi-yr-no-3:before {
  content: "";
}

.wi-yr-no-4:before {
  content: "";
}

.wi-yr-no-5:before {
  content: "";
}

.wi-yr-no-6:before {
  content: "";
}

.wi-yr-no-7:before {
  content: "";
}

.wi-yr-no-8:before {
  content: "";
}

.wi-yr-no-9:before {
  content: "";
}

.wi-yr-no-10:before {
  content: "";
}

.wi-yr-no-11:before {
  content: "";
}

.wi-yr-no-12:before {
  content: "";
}

.wi-yr-no-13:before {
  content: "";
}

.wi-yr-no-14:before {
  content: "";
}

.wi-yr-no-15:before {
  content: "";
}

.wi-yr-no-20:before {
  content: "";
}

.wi-yr-no-21:before {
  content: "";
}

.wi-yr-no-22:before {
  content: "";
}

.wi-yr-no-23:before {
  content: "";
}

.wi-yr-no-24:before {
  content: "";
}

.wi-yr-no-25:before {
  content: "";
}

.wi-yr-no-26:before {
  content: "";
}

.wi-yr-no-27:before {
  content: "";
}

.wi-yr-no-28:before {
  content: "";
}

.wi-yr-no-29:before {
  content: "";
}

.wi-yr-no-30:before {
  content: "";
}

.wi-yr-no-31:before {
  content: "";
}

.wi-yr-no-32:before {
  content: "";
}

.wi-yr-no-33:before {
  content: "";
}

.wi-yr-no-34:before {
  content: "";
}

.wi-yr-no-40:before {
  content: "";
}

.wi-yr-no-41:before {
  content: "";
}

.wi-yr-no-42:before {
  content: "";
}

.wi-yr-no-43:before {
  content: "";
}

.wi-yr-no-44:before {
  content: "";
}

.wi-yr-no-45:before {
  content: "";
}

.wi-yr-no-46:before {
  content: "";
}

.wi-yr-no-47:before {
  content: "";
}

.wi-yr-no-48:before {
  content: "";
}

.wi-yr-no-49:before {
  content: "";
}

.wi-yr-no-50:before {
  content: "";
}

.wi-yr-no-day-sun:before {
  content: "";
}

.wi-yr-no-day-lightcloud:before {
  content: "";
}

.wi-yr-no-day-partlycloud:before {
  content: "";
}

.wi-yr-no-day-cloud:before {
  content: "";
}

.wi-yr-no-day-lightrainsun:before {
  content: "";
}

.wi-yr-no-day-lightrainthundersun:before {
  content: "";
}

.wi-yr-no-day-sleetsun:before {
  content: "";
}

.wi-yr-no-day-snowsun:before {
  content: "";
}

.wi-yr-no-day-lightrain:before {
  content: "";
}

.wi-yr-no-day-rain:before {
  content: "";
}

.wi-yr-no-day-rainthunder:before {
  content: "";
}

.wi-yr-no-day-sleet:before {
  content: "";
}

.wi-yr-no-day-snow:before {
  content: "";
}

.wi-yr-no-day-snowthunder:before {
  content: "";
}

.wi-yr-no-day-fog:before {
  content: "";
}

.wi-yr-no-day-sleetsunthunder:before {
  content: "";
}

.wi-yr-no-day-snowsunthunder:before {
  content: "";
}

.wi-yr-no-day-lightrainthunder:before {
  content: "";
}

.wi-yr-no-day-sleetthunder:before {
  content: "";
}

.wi-yr-no-day-drizzlethundersun:before {
  content: "";
}

.wi-yr-no-day-rainthundersun:before {
  content: "";
}

.wi-yr-no-day-lightsleetthundersun:before {
  content: "";
}

.wi-yr-no-day-heavysleetthundersun:before {
  content: "";
}

.wi-yr-no-day-lightsnowthundersun:before {
  content: "";
}

.wi-yr-no-day-heavysnowthundersun:before {
  content: "";
}

.wi-yr-no-day-drizzlethunder:before {
  content: "";
}

.wi-yr-no-day-lightsleetthunder:before {
  content: "";
}

.wi-yr-no-day-heavysleetthunder:before {
  content: "";
}

.wi-yr-no-day-lightsnowthunder:before {
  content: "";
}

.wi-yr-no-day-heavysnowthunder:before {
  content: "";
}

.wi-yr-no-day-drizzlesun:before {
  content: "";
}

.wi-yr-no-day-rainsun:before {
  content: "";
}

.wi-yr-no-day-lightsleetsun:before {
  content: "";
}

.wi-yr-no-day-heavysleetsun:before {
  content: "";
}

.wi-yr-no-day-lightsnowsun:before {
  content: "";
}

.wi-yr-no-day-heavysnowsun:before {
  content: "";
}

.wi-yr-no-day-drizzle:before {
  content: "";
}

.wi-yr-no-day-lightsleet:before {
  content: "";
}

.wi-yr-no-day-heavysleet:before {
  content: "";
}

.wi-yr-no-day-lightsnow:before {
  content: "";
}

.wi-yr-no-day-heavysnow:before {
  content: "";
}
