.webcodeno_fnuggno.shortcode {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.45rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.webcodeno_fnuggno.shortcode h3 {
  font-size: 2.8rem;
  margin-top: 8px;
  margin-bottom: 12px;
}

.webcodeno_fnuggno.shortcode h4 {
  font-size: 2.2rem;
  margin-top: 8px;
  margin-bottom: 12px;
}

.webcodeno_fnuggno.shortcode.summary > div {
  font-size: 14px;
  padding: 12px;
  border: 1px solid #808080;
}

.webcodeno_fnuggno.shortcode.summary > div .container {
  width: 100%;
}

.webcodeno_fnuggno.shortcode.summary > div .container > .col_container {
  float: left;
  width: 30%;
}

.webcodeno_fnuggno.shortcode.summary > div .container > .col_container.col2 {
  width: 40%;
}

.webcodeno_fnuggno.shortcode.summary > div h3 {
  font-size: 2rem !important;
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}

.webcodeno_fnuggno.shortcode.summary > div .label {
  font-weight: bold;
  color: #808080;
  padding: 0;
}

.webcodeno_fnuggno.shortcode.summary > div .weather {
  width: 30%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.webcodeno_fnuggno.shortcode.summary > div .weather .icon {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.webcodeno_fnuggno.shortcode.summary > div .weather .icon img {
  width: 100%;
  margin-bottom: 16px;
}

.webcodeno_fnuggno.shortcode.summary > div .weather .icon i {
  font-size: 4rem;
  line-height: 6rem;
  margin-bottom: 16px;
}

.webcodeno_fnuggno.shortcode.summary > div .weather .description {
  position: absolute;
  top: initial;
  bottom: 0;
  left: 0;
  z-index: 11;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 100%;
}

.webcodeno_fnuggno.shortcode.summary > div .temp {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.webcodeno_fnuggno.shortcode.summary > div .slopes .up {
  font-size: 120%;
  line-height: 100%;
  font-weight: bold;
  color: #0A246A;
}

.webcodeno_fnuggno.shortcode.summary > div .lifts .open {
  font-size: 120%;
  line-height: 100%;
  font-weight: bold;
  color: #0A246A;
}

.webcodeno_fnuggno.shortcode.summary > div .details a {
  font-size: 80%;
  font-style: italic;
}

.webcodeno_fnuggno.shortcode.summary > div .slopes_lifts_details {
  display: none;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions {
  margin-bottom: 1rem;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper {
  background-color: #3A3A3A;
  color: #ffffff;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_group_title {
  float: left;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_group_status {
  float: right;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper {
  background-color: #aaaaaa;
  color: #000000;
  clear: both;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper {
  clear: both;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_title {
  float: left;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_status {
  float: right;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_status.operational {
  color: green;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_status.not-operational {
  color: red;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents {
  margin-bottom: 1rem;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper {
  background-color: #3A3A3A;
  color: #ffffff;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_title {
  float: left;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_status {
  float: right;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_updates_wrapper {
  background-color: #aaaaaa;
  color: #000000;
  clear: both;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_updates_wrapper .statuspage_incident_update_wrapper {
  clear: both;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_updates_wrapper .statuspage_incident_update_wrapper .statuspage_incident_update_date {
  float: right;
  padding: 2px 10px;
  font-size: 80%;
  font-style: italic;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_updates_wrapper .statuspage_incident_update_wrapper .statuspage_incident_update_status {
  float: right;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.statuspage > div .statuspage_incidents .statuspage_incident_wrapper .statuspage_incident_updates_wrapper .statuspage_incident_update_wrapper .statuspage_incident_update_body {
  clear: both;
  padding: 2px 10px;
}

.webcodeno_fnuggno.shortcode.blog_posts > div p.meta {
  font-style: italic;
  font-size: 80%;
  margin-bottom: 18px;
}

.webcodeno_fnuggno.shortcode.attribution > div {
  font-size: 12px;
}

.webcodeno_fnuggno.shortcode.attribution > div p {
  display: inline-block;
}

.webcodeno_fnuggno.shortcode.attribution > div p a {
  text-decoration: underline;
}

.webcodeno_fnuggno.shortcode.attribution > div a {
  border: none;
}

.webcodeno_fnuggno.shortcode.attribution > div img {
  width: 120px;
  margin-right: 12px;
  display: inline-block;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details {
  position: absolute;
  display: none;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions {
  font-size: 12px;
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper {
  background-color: #3A3A3A;
  color: #ffffff;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_group_title {
  float: left;
  padding: 2px 10px;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_group_status {
  float: right;
  padding: 2px 10px;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper {
  background-color: #ffffff;
  color: #000000;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  clear: both;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper {
  clear: both;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_title {
  float: left;
  padding: 2px 10px;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_status {
  float: right;
  padding: 2px 10px;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_status.operational {
  color: green;
}

.webcodeno_fnuggno_popup_box .slopes_lifts_details .statuspage_conditions .statuspage_group_wrapper .statuspage_items_wrapper .statuspage_item_wrapper .statuspage_item_status.not-operational {
  color: red;
}

.clearfix {
  clear: both;
}
